*.log
.DS_Store

node_modules/

.idea/
*.iml

*.sublime-*

out/
build/
bin/

platforms/android/assets/www/
platforms/android/local.properties
platforms/android/gen/

platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
platforms/ios/HelloCordova.xcodeproj/xcuserdata/
platforms/ios/HelloCordova.xcodeproj/project.xcworkspace/
platforms/ios/www/
