platforms/android/bin/
platforms/ios/bin/
*.log
.DS_Store
out/
node_modules/
.idea/
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
platforms/ios/HelloCordova.xcodeproj/xcuserdata/
platforms/ios/HelloCordova.xcodeproj/project.xcworkspace/
platforms/android/gen/io/cordova/hellocordova/R.java
*.iml
