<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arrive" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Arrive</name>
    <description>
        Attendance at your fingertips
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Team Arrive
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
