<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <title>Arrive</title>
</head>
<body>
<div id="main">
    <div class="app">
        <h3>Welcome!</h3><br>
        <h4>How many people will use this device?</h4>

        <div id="navButtons">
            <a id="home_personal" href="#"><img id="single" width=140 height=155 src="img/single.jpg"></a>
            <a id="home_multiple"><img id="multiple" width=140 height=155 src="img/multiple.jpg"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/lib/lodash.min.js"></script>
<script type="text/javascript" src="js/lib/backbone-min.js"></script>
<!--<script type="text/javascript" src="js/stackmob-js-0.9.2-bundled-min.js"></script>-->
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/app/views.js"></script>
<script type="text/javascript" src="js/app/models.js"></script>
<script type="text/javascript">
    app.initialize();
    Arrive.init();
    Backbone.history.start({pushState: true});
</script>

<!-- templates -->
<script type="text/template" id="template-home-multiple">
    <div class="home_personal">
        <h3>Hello!</h3>
        <h5>
            <form>
                <select id="schools">
                    <option value="#">Please select your school...</option>
                </select>
                <br><br>
                <a href="#" name="location" id="student_check_in">Set Location</a>
            </form>
        </h5>
    </div>
</script>

<script type="text/template" id="template-location">
    <div class="home_personal">
        <h3 class="school"><%= name %></h3>
        <h4><a href="#" name="home_multiple" id="not_your_school">Not your school?</a></h4>
        <h5>
            <form>
                <select id="courses">
                    <option value="#">Select your class...</option>
                    <% _.each(courses, function(course) { %>
                    <option id="<%= course.id %>"><%= course.name %></option>
                    <% }); %>
                </select>
                <br><br>
                <input placeholder="Insert Your PIN..." type="text" name="Pin" maxlength="4">
                <br><br>
                <a href="#" name="check_in_multiple" id="student_check_in">Check In</a>
            </form>
        </h5>
    </div>
</script>

<script type="text/template" id="template-confirmation-multiple">
    <div class="home_personal">
        <h3 class="school"><%= name %></h3><h4> Alex, thanks for checking in!</h4>
        <h5>
            <form>
                <select id="courses">
                    <option value="#">Select your class...</option>
                    <% _.each(courses, function(course) { %>
                    <option id="<%= course.id %>"><%= course.name %></option>
                    <% }); %>
                </select>
                <br><br>
                <input placeholder="Insert your PIN..." type="text" name="Pin" maxlength="4">
                <br><br>
                <a href="#" name="confirmation_multiple" id="student_check_in">Check In</a>
            </form>
        </h5>
    </div>
</script>

<script type="text/template" id="template-home">
    <div class="home_personal">
        <h3>Welcome Student!</h3>

        <form>
            <h5><input placeholder="Email..." type="email" name="email" id="email"></h5>
            <h5><input placeholder="PIN..." type="text" name="pin" id="password" maxlength="4"></h5>
            <!--<h5><input href="#" type="submit" name="login" id="student_check_in"</h5>-->
            <a href="#" name="login" id="student_check_in">Student Log In</a>
        </form>
    </div>
</script>

<script type="text/template" id="template-student-check-in">
    <div class="home_personal">
        <h3>Welcome Alex!</h3>
        <h4 class="school"><%= name %></h4><br><br>
        <h4>Please select your class:</h4>
        <h5>
            <form>
                <select id="courses">
                    <option value="#">Select your class...</option>
                    <% _.each(courses, function(course) { %>
                    <option id="<%= course.id %>"><%= course.name %></option>
                    <% }); %>
                </select>
                <br><br>
                <a href="#" name="check_in" id="student_check_in">Check In</a>
            </form>
        </h5>
    </div>
</script>

<script type="text/template" id="template-student-new-class">
    <div class="home_personal">
        <h3>French Culture and Civilization</h3><br>
        <h4>Thanks! You've successfully checked in to French Culture and Civilization. <br>
            Have a great class!
        </h4>
        <a href="#" name="new_class" id="new_class">New Class</a>
    </div>
</script>
</body>
</html>
